body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#particles {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50% 50%;
    background-color: #0B0C10;
}

.page{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #66fcf2cc !important;
    height:50%;
    width:40%;
    padding: 5%;
    border-radius: 2%;
}

#login-box-header{
    font-size: 4rem;
    padding:5%;
}

.form-group{
    font-size: 2rem;
}