/*
  SITE WIDE THEME
  ADD TO ALL FILES
*/

body {
  font-size: 18px;
  color: #C5C6C7;
  background-color: #0B0C10;
  text-align: center;
}

h1 {
  color: #66FCF1
}

.header {
  color: #66FCF1
}

/* Custom overrides to bootstrap */
.bg-dark {
  background-color: #1F2833
}

.text-white {
  color: #C5C6C7 !important
}

/* Button Overrides */

.btn.btn-primary {
  background-color: #343a41;
  color: #C5C6C7;
  width: 50%;
  border: none;
}

.btn.btn-primary:hover {
  background-color: #45A29E;
  width: 50%;
  border: none;
}